<div class="container mb-2 mb-sm-3 mt-sm-5 mt-5">
    <div class="row mb-5 mt-sm-4">
        <div class="col-12 text-center smallFt">
            &copy;<script type="text/javascript">document.write(new Date().getFullYear());</script>
            LUPITA BRAND
        </div>
    </div>
</div>
<div class="fixed-bottom bg-white text-center pb-sm-1 pt-sm-1 pb-1 pt-1">
    <a class="ml-sm-4 mr-sm-4 ml-3 mr-3 text-decoration-none" href="/info">
        <img src="/images/question.svg" alt="info" width="20px" height="20px" class="iconFooter"> 
    </a>
    <a href="#" class="ml-sm-4 mr-sm-4 ml-3 mr-3 text-decoration-none">
        <img src="/images/instagram.svg" alt="insta" width="20px" height="20px" class="iconFooter">
    </a>
    {{#if login }}
    <a class="ml-sm-4 mr-sm-4 ml-3 mr-3 text-decoration-none" href="/user/profile">
      <img src="/images/avatar.svg" alt="avatar" width="20px" height="20px" class="iconFooter">
      <img src="/images/tick.svg" alt="tick" width="10px" height="10px">
    </a>
    {{else}}
    <a class="ml-sm-4 mr-sm-4 ml-3 mr-3 text-decoration-none" href="/user/cuenta">
        <img src="/images/avatar.svg" alt="avatar" width="20px" height="20px" class="iconFooter">
    </a>
    {{/if}}
</div>