<div class="container-fluid topBanner">
  <div class="row ">
    <div class="col-12 text-center">
      Entregas en toda la República Mexicana | 20% en compras de marcas para hombre hasta el 1 de Noviembre 2019
    </div>
  </div>
</div>
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white mainNavBar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">
    <img src="/images/search.svg" width="25" height="25" class="d-inline-block mobileLogo" alt="logo">
    LUPITA
  </a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active mainFont ml-sm-5">
        <a class="nav-link" href="/">MUJER <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item mainFont">
        <a class="nav-link" href="#">HOMBRE</a>
      </li>
      <li class="nav-item dropdown secondFont ml-sm-5 mobileDropDown">
        <a class="nav-link navBarLinks" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ACCESORIOS
        </a>
        <div class="dropdown-menu navBarDropdown secondFont" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item secondFont" href="/product/todo">Ver Todo</a>
          <a class="dropdown-item secondFont" href="/product/collares">Collares</a>
          <a class="dropdown-item secondFont" href="/product/aretes">Aretes</a>
          <a class="dropdown-item secondFont" href="/product/brazaletes">Brazaletes</a>
          <a class="dropdown-item secondFont" href="/product/anillos">Anillos</a>
          <a class="dropdown-item secondFont" href="/product/cinturones">Cinturones</a>
        </div>
      </li>
      <li class="nav-item dropdown secondFont ml-sm-5 mobileDropDown">
        <a class="nav-link navBarLinks" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          OCACIONES
        </a>
        <div class="dropdown-menu navBarDropdown secondFont" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item secondFont" href="#">Ejecutiva</a>
          <a class="dropdown-item secondFont" href="#">Casual</a>
          <a class="dropdown-item secondFont" href="#">Especiales</a>
          <a class="dropdown-item secondFont" href="#">De Noche</a>
          <a class="dropdown-item secondFont" href="#">Invierno</a>
        </div>
      </li>
      <li class="nav-item secondFont ml-sm-5 mobileDropDown">
        <a class="nav-link navBarLinks" id="navbarDropdownMenuLink" href="#">TENDENCIAS</a>
      </li>
      <li class="nav-item secondFont ml-sm-5 mobileDropDown">
        <a class="nav-link navBarLinks" id="navbarDropdownMenuLink" href="#">STYLO LUPITA LOOKBOKS</a>
      </li>
    </ul>
  </div>
  <a class="navbar-brand mobileIcon" href="#">
    <img src="/images/info.svg" alt="info" width="20" height="20">
  </a>
  {{#if login }}
    <a class="navbar-brand mobileIcon" href="/user/profile">
      <img src="/images/avatar.svg" alt="avatar" width="20" height="20">
    </a>
  {{else}}
    <a class="navbar-brand mobileIcon" href="/user/cuenta">
      <img src="/images/avatar.svg" alt="avatar" width="20" height="20">
    </a>
  {{/if}}
  <a class="navbar-brand mobileIcon" href="/shopping-cart">
    <img src="/images/shopping-bag.svg" alt="shop" width="20" height="20" style="z-index: -1;">
    <span class="mainFont position-absolute mt-2 ml-1 font-weight-normal">{{session.cart.totalQty}}</span>
  </a>
</nav>