<!--
<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
-->
<div class="col text-center mt-5 mt-sm-5 mb-1 mb-sm-2">
    <div><a class="btn btn-outline-dark mainFont rounded-0 mt-sm-5 mb-4 mb-sm-1" href="/product/all" role="button">return to the store</a></div>
</div>
<div class="mb-sm-5 mb-1 invisible">.</div>
<div class="mb-sm-5 mb-1 invisible">.</div>
<div class="mb-sm-5 mb-1 invisible">.</div>
<div class="mb-sm-1 mb-1 invisible">.</div>