<div class="container secondFont">
    <div class="row mt-sm-4 mt-3">
        <div class="col-sm-12 text-center mainFont">welcome back {{userInfo.name}}</div>
    </div>
    <div class="row mt-sm-3 mt-1">
        <div class="col-6 col-sm-3 mt-5 text-center"><a href="/admin/product" class="btn btn-outline-primary secondFont rounded-0">products</a></div>
        <div class="col-6 col-sm-3 mt-5 text-center"><a href="/admin/discount" class="btn btn-outline-primary secondFont rounded-0">discounts</a></div>
        <div class="col-6 col-sm-3 mt-5 text-center"><a href="/admin/order" class="btn btn-outline-primary secondFont rounded-0">orders</a></div>
        <div class="col-6 col-sm-3 mt-5 text-center"><a href="/admin/users" class="btn btn-outline-primary secondFont rounded-0">users</a></div>
        <div class="col-6 col-sm-3 mt-5 text-center"><a href="/admin/categories" class="btn btn-outline-primary secondFont rounded-0">product categories</a></div>
        <div class="col-6 col-sm-3 mt-5 text-center"><a href="/admin/order-status" class="btn btn-outline-primary secondFont rounded-0">order status categories</a></div>
    </div>
</div>