<div class="container secondFont">
    <div class="row">
        <div class="col-sm-2 col-6 mt-5">
            <a href="/admin" class="btn btn-outline-primary secondFont rounded-0">return</a>
        </div>
    </div>
</div>