<div class="container secondFont">
    <div class="row mt-sm-4 mt-3">
        <div class="col-sm-12 text-center mainFont"> PANEL DE CONTROL NIMBUS 3000</div>
    </div>
    <div class="row mt-sm-5 mt-3">
        <div class="col-6 col-sm-3 mt-5 text-center"><a href="/admin/product" class="btn btn-outline-primary secondFont rounded-0">productos</a></div>
        <div class="col-6 col-sm-3 mt-5 text-center"><a href="/admin/discount" class="btn btn-outline-primary secondFont rounded-0">descuentos</a></div>
        <div class="col-6 col-sm-3 mt-5 text-center"><a href="/admin/discount" class="btn btn-outline-primary secondFont rounded-0">ordenes</a></div>
        <div class="col-6 col-sm-3 mt-5 text-center"><a href="/admin/discount" class="btn btn-outline-primary secondFont rounded-0">usuarios</a></div>
    </div>
</div>