<div class="container secondFont">
    <div class="row mt-sm-3 mt-3">
        <div class="col-sm-12"> PANEL DE CONTROL NIMBUS 3000</div>
    </div>
    <div class="row mt-sm-3 mt-3">
        <div class="col"><a href="/admin/product" class="btn btn-outline-primary secondFont rounded-0">Productos</a></div>
    </div>
    <div class="row mt-sm-3 mt-3">
        <div class="col"><a href="/admin/discount" class="btn btn-outline-primary secondFont rounded-0">Descuentos</a></div>
    </div>
</div>