<div class="container mb-sm-5">
    <div class="row">
        <div class="col-sm-6 col-12 text-center text-sm-right mt-sm-5 mt-5">
            <a href="access" class="btn btn-outline-dark secondFont rounded-0 mt-sm-5 mt-3 mb-2">access your account</a>
        </div>
        <div class="col-sm-6 col-12 text-center text-sm-left mt-sm-5 mt-5 mb-5">
            <a href="register" class="btn btn-outline-dark secondFont rounded-0 mt-sm-5 mt-3">create an account</a>
            <div class="mb-sm-5 invisible">.</div>
            <div class="mb-sm-5 invisible">.</div>
            <div class="mb-sm-5 invisible">.</div>
        </div>
    </div>
</div>