<div class="container">
    <div class="row mt-sm-4 mt-3">
        <div class="col-lg-4 col-sm-3 col-1"></div>
        <div class="col-lg-4 col-sm-6 col-10">
            <div class="text-center mainFont">create an account</div>
            <!--validate-->
            <form action="/user/signup" method="post" class="needs-validation" id="registrar" novalidate>
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <div class="form-row">
                    <div class="col-sm-12 col-12 mt-sm-4 mt-4">
                        <input type="text" class="form-control form-control-sm border-top-0 border-right-0 rounded-0 border-dark secondFont text-dark" placeholder="name" id="fullname" name="fullname" required>
                        <small class="form-text text-muted smallFt"></small>
                        <div class="invalid-feedback secondFont">
                            enter a name
                        </div>
                    </div>
                     <div class="col-sm-12 col-12 mt-sm-4 mt-4">
                        <input type="email" class="form-control form-control-sm border-top-0 border-right-0 rounded-0 border-dark secondFont text-dark" id="signUpEmail" name="signUpEmail" aria-describedby="emailHelp" placeholder="email" required>
                        <small id="emailHelp" class="form-text text-muted smallFt"></small>
                        <div class="invalid-feedback secondFont">
                            enter an email
                        </div>
                    </div>
                     <div class="col-sm-12 col-12 mt-sm-4 mt-4">
                        <input type="password" class="form-control form-control-sm border-top-0 border-right-0 rounded-0 border-dark secondFont text-dark" id="signUpPassword" name="signUpPassword" placeholder="password with at least four characters" required>
                        <small class="form-text text-muted smallFt"></small>
                        <div class="invalid-feedback secondFont">
                            enter a password
                        </div>
                    </div>
                    <div class="col-sm-12 col-12 mt-sm-4 mt-4">
                        <input type="password" class="form-control form-control-sm border-top-0 border-right-0 rounded-0 border-dark secondFont text-dark" placeholder="please repeat password" id="secondPass" required>
                        <div class="invalid-feedback secondFont" id="secondPassText">
                            repeat your password
                        </div>
                    </div>
                    <div class="col-sm-12 col-12 mt-sm-4 mt-4 mb-sm-5 text-center">
                        <button type="submit" class="btn btn-outline-dark secondFont rounded-0">register</button>
                    </div>
                </div>
            </form>
            {{#each messages}}
            <div class="col text-center text-danger secondFont text-lowercase mt-sm-0 mb-sm-1 mt-3">{{this}}</div>
            {{/each}}
        </div>
    </div>
</div>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
<script>
$( "#registrar" ).submit(function( event ) {
    if ( $( "#signUpPassword" ).val() != $( "#secondPass" ).val() ) {
        $( "#myspan" ).text( "not valid" ).show();
        $( "#secondPassText" ).text( "different password" ).show();
        event.preventDefault();
    }
});
</script> 