<h1>Sign Up</h1>
<div>{{messages}}</div>
{{#each messages}}
    <div>{{this}}</div>
{{/each}}
<form action="/user/signup" method="post">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="signUpEmail" name="signUpEmail" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="signUpPassword" name="signUpPassword" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{csrfToken}}