/*Main Lupita logo*/
.mainLogo{
    width: 100px;
    height: 28px;
}
/*top banner for promotions*/
.topBanner{
    background-color: black;
    color: white;
}
/*one font type*/
.mainFont{
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.5px;
}
/*two font type*/
.secondFont{
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 0.5px;
}
/*three font type*/
.smallFt{
    font-size: 10px;
    font-weight: 200;
    letter-spacing: 0.5px;
}
/*navigation bar*/
.mainNavBar{
    border-bottom: 0.5px solid white;
}
#navbarDropdownMenuLink {
    color: black;
}
.dropdown:hover>.dropdown-menu {
    display: block;
}
/*boton de small Lupita Icon for products page*/
.modalBtn{
    display: none;
    opacity: 0.5;
}
.productImg:hover .modalBtn{
    display: block;
}
.modalBtn:hover{
    opacity: 1.0;
}
/*boton de small Lupita Icon for products*/

/*arrrows del product image*/
.productArrowPrev, .productArrowNext{
    display: none;
    background-image: none;
}
.productImg:hover .productArrowNext{
    display: block;
}
.productImg:hover .productArrowPrev{
    display: block;
}
.productArrowNext:after{
  content: '>';
  color: black;
}
.productArrowPrev:after {
  content: '<';
  color: black;
}
/*arrrows del product image*/

/*w3 is product-view changes of images*/
.w3-opacity{
    opacity: 1;
    border: none;
}
.w3-opacity:hover{
    opacity: 1;
}
.w3-opacity-off{
    opacity: 1;
    border: 0.2px solid gray;
}
/*ocasion icons*/
.ocasionIcon{
    height: 170px;
    width: 170px;
    border: #c1c1c1 0.25px solid;
}
.ocasionIcon:hover{
    border: black 0.25px solid;
}
/*border change*/
.borderChange{
    border: #B0B0B0 0.25px solid;
}
.borderChange:hover{
    border: black 0.25px solid;
}
/*stripe checkout view*/
.StripeElement {
    padding: 10px 12px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

/*media start for smaller devices*/
@media only screen and (max-width: 600px) {
    /*main carousel*/
    .mainArrowPrev, .mainArrowNext{
        background-image: none;
        display: block;
    }
    .mainArrowPrev:after{
        content: '<';
        color: white;
    }
    .mainArrowNext:after{
        content: '>';
        color: white;
    }
    /*main carousel*/

    /*Main Lupita logo*/
    .mainLogo{
        width: 80px;
        height: 22px;
    }
    /*ocasion icons*/
    .ocasionIcon{
        height: auto;
        width: auto;
    }
    /*dropdown*/
    .mobileDropDown {
        margin-top: 2px;
        margin-bottom: 2px;
        margin-left: 3px;
    }
    .topBanner{
        display: none;
    }
    .iconFooter{
        height: 17px;
        width: 17px;
    }
    .mainFont{
        font-size: 13px;
        font-weight: 200;
        letter-spacing: 0.5px;
    }
    .secondFont{
        font-size: 11px;
        font-weight: 200;
        letter-spacing: 0.5px;
    }
    .smallFt{
        font-size: 8px;
        font-weight: 200;
        letter-spacing: 0.5px;
    }
    .productImg:hover .modalBtn{
        display: none;
    }
    .cartCol{
        display: none;
    }
}
/*media end for smaller devices*/