<div class="container secondFont">
    <div class="row mt-sm-5 mt-3">
        <div class="col-sm-12 mb-sm-2">Atención al cliente</div>
        <div class="col-sm-12">Estamos disponibles por teléfono y correo electrónico de 9 am a 6 pm para responder preguntas sobre ajustes, estilo o la disponibilidad de un artículo, ofrecer recomendaciones de estilo y guiarlo a través del proceso de compra</div>
    </div>
</div>