<div class="container secondFont">
    <div class="row mt-sm-5 mt-3">
        <div class="col-sm-12 mb-sm-2">Atención al cliente</div>
        <div class="col-sm-12">Estamos disponibles por teléfono y correo electrónico 
            de 9 am a 6 pm para ofrecer recomendaciones de estilo, responder preguntas sobre
            la disponibilidad de un artículo, ajustes y guiarte a través del proceso de compra</div>
        <div class="col-12 text-center mt-sm-5 mt-4">55 19 50 60 54 | hola@lupitabrand.com</div>
        <div class="col-sm-12 mb-sm-2 mt-sm-2">Métodos de pago aceptados</div>
        <div class="col-sm-12">Aceptamos todas las tarjetas de crédito y débito incluyendo Visa, Mastercard, American Express, y PayPal</div>

        <div class="col-sm-12 mb-sm-2 mt-sm-5">¿Cuáles son sus horas de atención al cliente?</div>
        <div class="col-sm-12">9 am a 6 pm</div>

        <div class="col-sm-12 mb-sm-2 mt-sm-5">¿Tienen una tienda física?</div>
        <div class="col-sm-12">Estamos ubicados en el <a href="https://www.gransur.com.mx/" target="_blank">Centro Comercial Gran Sur</a> en la Ciudad de México, MX</div>

        <div class="col-sm-12 mb-sm-2 mt-sm-5">¿Necesito una cuenta para hacer un pedido con Lupita?</div>
        <div class="col-sm-12">No, no necesitas una cuenta para comprar en nuestro sitio. Puedes proceder al pago como invitado</div>
    </div>
    
</div>