<div class="container secondFont">
    <div class="row">
        <div class="col-sm-12 mb-sm-2 mt-sm-5 mt-3 mb-1">Atención al cliente</div>
        <div class="col-sm-12">Estamos disponibles por teléfono y correo electrónico 
            para ofrecer recomendaciones de estilo, responder preguntas sobre
            la disponibilidad artículos y guiarte a través del proceso de compra</div>
        <div class="col-12 text-center mt-sm-3 mt-3">
            <a href="https://wa.me/16262337315" target="_blank" class="">
                <img src="/images/whatsapp.svg" alt="whats" width="20px" height="20px"> WhatsApp
            </a>
            | hola@lupitabrand.com
        </div>

        <div class="col-sm-12 mb-sm-2 mt-sm-5 mt-4 mb-1">¿Cuáles son sus horas de atención al cliente?</div>
        <div class="col-sm-12">9 am a 6 pm</div>

        <div class="col-sm-12 mb-sm-2 mt-sm-5 mt-4 mb-1">Métodos de pago aceptados</div>
        <div class="col-sm-12">Aceptamos todas las tarjetas de crédito y débito</div>

        <div class="col-sm-12 mb-sm-2 mt-sm-5 mt-4 mb-1">¿Necesito una cuenta para hacer un pedido con Lupita?</div>
        <div class="col-sm-12">No, puedes proceder al pago como invitado</div>
        
    </div>
</div>