<div class="container secondFont">
    <div class="row">
        <div class="col-sm-12 mb-sm-2 mt-sm-5 mt-3 mb-1">Customer Support</div>
        <div class="col-sm-12">We are available by phone and email to offer style recommendations, 
            answer questions about item availability, and guide you through the purchase process.</div>
        <div class="col-12 text-center mt-sm-3 mt-3">
            <a href="https://wa.me/16262337315" target="_blank" class="">
                <img src="/images/whatsapp.svg" alt="whats" width="20px" height="20px"> WhatsApp
            </a>
            | help@justglammy.com
        </div>

        <div class="col-sm-12 mb-sm-2 mt-sm-5 mt-4 mb-1">What are your customer service hours?</div>
        <div class="col-sm-12">9 am to 6 pm</div>

        <div class="col-sm-12 mb-sm-2 mt-sm-5 mt-4 mb-1">Accepted payment methods</div>
        <div class="col-sm-12">We accept all credit cards and debit cards</div>

        <div class="col-sm-12 mb-sm-2 mt-sm-5 mt-4 mb-1">Do I need an account to place an order with glammy?</div>
        <div class="col-sm-12">No, you can proceed to the payment page as a guest</div>

    </div>
</div>