<div class="container secondFont">
    <div class="row mt-sm-5 mt-3">
        <div class="col-sm-12">Shipping and Returns</div>
        
        <div class="col-sm-12 mb-sm-2 mt-sm-5">Do you have a physical store?</div>
        <div class="col-sm-12">No, we are a 100% online store based out of Atlanta, GA, USA,</div>

        <div class="col-sm-12 mb-sm-2 mt-sm-5">How do I track my package?</div>
        <div class="col-sm-12">You will receive a purchase confirmation email with a 
           tracking number once your order has shipped. You can also check the status <a href="/info">here</a>.</div>

        <div class="col-sm-12 mb-sm-2 mt-sm-5">How do I return or exchange an order?</div>
        <div class="col-sm-12">Please <a href="/info">contact us</a> and we will send you the instructions to return or exchange your items.</div>

    </div>
    
</div>