<div class="container secondFont">
    <div class="row mt-sm-5 mt-3">
        <div class="col-sm-12 mb-sm-2">Envios Y Devoluciones</div>
        
        <div class="col-sm-12 mb-sm-2 mt-sm-5">¿Tienen una tienda física?</div>
        <div class="col-sm-12">Estamos ubicados en el <a href="https://www.gransur.com.mx/" target="_blank">Centro Comercial Gran Sur</a> en la Ciudad de México, MX</div>

        <div class="col-sm-12 mb-sm-2 mt-sm-5">¿Cómo hago el seguimiento de mi paquete?</div>
        <div class="col-sm-12">Recibirás un correo electrónico de confirmación de compra con un 
            número de seguimiento una vez que se haya enviado tu pedido. También puedes consultar el estado <a href="/info">aquí</a></div>

        <div class="col-sm-12 mb-sm-2">¿Cómo devuelvo o cambio un pedido?</div>
        <div class="col-sm-12"></div>

    </div>
    
</div>