<div class="container secondFont">
    <div class="row mt-sm-5 mt-3">
        <div class="col-12">NOSOTROS</div>
        <div class="col-12 mt-sm-2 mt-2">Lupita es una tienda especializada en línea con sede en la Ciudad de Mexico, MX de indumentaria y accesorios cuidadosamente seleccionados. Nuestro punto de vista es distinto pero no fijo, creando una tienda a la vanguardia del cambio con un atractivo atemporal. Lupita es estilo antes que moda.</div>
        <div class="col-12 text-center mt-sm-5 mt-3">55 19 50 60 54 | hola@lupitaco.com | Periferico Sur 5550, Pedregal de Carrasco, 04700 | Ciudad de México, CDMX, Mexico</div>
    </div>
    <div class="row mt-sm-5 mt-3">
        <div class="col-sm-12 text-center mb-5">
            <button type="button" class="btn btn-dark rounded-0 secondFont" data-toggle="modal" data-target="#editUser">Checa tu orden</button>
        </div>
        <div class="col-sm-3 col-6 text-center mt-sm-5">
            <a href="#" class="text-info">Atención al cliente</a>
        </div>
        <div class="col-sm-3 col-6 text-center mt-sm-5">
            <a href="#" class="text-info">Envios y Devoluciones</a>
        </div>
        <div class="col-sm-3 col-6 text-center mt-sm-5 mt-3">
            <a href="#" class="text-info">Términos y Condiciones</a>
        </div>
        <div class="col-sm-3 col-6 text-center mt-sm-5 mt-3 mb-sm-5">
            <a href="#" class="text-info">Políticas</a>
        </div>
    </div>
</div>