<div class="container secondFont">
    <div class="row mt-sm-5 mt-3">
        <div class="col-12 lborder">NOSOTROS</div>
        <div class="col-12 mt-sm-2 mt-2">Lupita es una tienda especializada en línea con sede en la Ciudad de Mexico, MX de indumentaria y accesorios cuidadosamente seleccionados. Nuestro punto de vista es distinto pero no fijo, creando una tienda a la vanguardia del cambio con un atractivo atemporal. Lupita es estilo antes que moda.</div>
        <div class="col-12 text-center mt-sm-5 mt-3">55 19 50 60 54 | hola@lupitabrand.com | Periferico Sur 5550, Pedregal de Carrasco, 04700 | Ciudad de México, CDMX, Mexico</div>
    </div>
    <div class="row mt-sm-5 mt-3">
        <div class="col-sm-12 text-center mb-5">
            <button type="button" class="btn btn-dark rounded-0 secondFont" data-toggle="modal" data-target="#checkOrder">Checa tu orden</button>
        </div>
        <div class="col-sm-3 col-6 text-center mt-sm-5">
            <a href="#" class="text-info">Atención al cliente</a>
        </div>
        <div class="col-sm-3 col-6 text-center mt-sm-5">
            <a href="#" class="text-info">Envios y Devoluciones</a>
        </div>
        <div class="col-sm-3 col-6 text-center mt-sm-5 mt-3">
            <a href="#" class="text-info">Términos y Condiciones</a>
        </div>
        <div class="col-sm-3 col-6 text-center mt-sm-5 mt-3 mb-sm-5">
            <a href="#" class="lborder">Políticas</a>
        </div>
    </div>
    <div>{{mydata}}</div>



<!-- Modal -->
<div class="modal fade" id="checkOrder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        

        <div class="col-sm-12 col-12">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="text-center secondFont text-uppercase mb-sm-2">checa tu orden</div>
            <form action="/info" method="get">
                <div class="form-group mt-sm-5 mt-3">
                    <input type="text" class="form-control form-control-sm border-top-0 border-right-0 rounded-0 border-dark secondFont text-dark" placeholder="Numero de orden" id="checkOrderNo" name="checkOrderNo">
                </div>
                <button type="submit" class="btn btn-outline-dark secondFont rounded-0 mt-sm-5 mt-3 mb-5">Buscar</button>
                <div class="text-center secondFont">*** Si no cuentas con tu numero de orden, porfavor contactanos por correo electronico y escribenos el correo que usaste para tu compra **</div>
                <div class="text-center secondFont"><strong>hola@lupitabrand.com</strong></div>
            </form>
        </div>





      </div>
      
    </div>
  </div>
</div>
<!-- Modal -->




</div>