<div class="container secondFont">
  <div class="row mt-sm-3 mt-3">
    <div class="col">FINALIZAR PAGO</div>
  </div>
  <div class="row mt-sm-3 mt-3 text-danger">
    <div id="payment-errors" class="col {{#if noError}}hidden{{/if}}">{{messages}}</div>
  </div>
  <div class="row mt-sm-3 mt-3">
    <div class="col">
      Total de la compra es ${{totalPrice}} MXN
    </div>
  </div>
  <form action="/checkout" method="post" id="checkout-form">
  <div class="row mt-sm-3 mt-3">
    <div class="col col-sm-4">
      <div class="form-group">
      <input type="text" class="form-control form-control-sm border-top-0 border-right-0 rounded-0 border-dark secondFont text-dark" id="name" aria-describedby="emailHelp" placeholder="Nombre" name="name">
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-4">
      <div class="form-group">
        <input type="text" class="form-control form-control-sm border-top-0 border-right-0 rounded-0 border-dark secondFont text-dark" id="address" placeholder="Direccion" name="address">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-4">
      <div class="form-group">
        <input type="text" class="form-control form-control-sm border-top-0 border-right-0 rounded-0 border-dark secondFont text-dark" id="card-name" placeholder="Nombre en la tarjeta de credito">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-4">
      <div class="form-group">
        <input type="text" class="form-control form-control-sm border-top-0 border-right-0 rounded-0 border-dark secondFont text-dark" id="card-number" placeholder="Numero de la tarjeta">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-3">
      <div class="form-group">
        <input type="text" class="form-control form-control-sm border-top-0 border-right-0 rounded-0 border-dark secondFont text-dark" id="card-expiry-month" placeholder="Mes de expiración">
      </div>
    </div>
    <div class="col col-sm-3">
      <div class="form-group">
        <input type="text" class="form-control form-control-sm border-top-0 border-right-0 rounded-0 border-dark secondFont text-dark" id="card-expiry-year" placeholder="Año de expiración">
      </div>
    </div>
    <div class="col col-sm-3">
      <div class="form-group">
        <input type="text" class="form-control form-control-sm border-top-0 border-right-0 rounded-0 border-dark secondFont text-dark" id="card-cvc" placeholder="Codigo CVC">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-outline-dark secondFont rounded-0" id="checkoutBtn">Completar la compra</button>
    </div>
  </div>
  </form>
</div>
<script src="https://js.stripe.com/v2/"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="javascripts/checkout.js"></script>