<div class="container secondFont">
  <div class="row mt-sm-3 mt-3">
    <div class="col-sm-4 col-1"></div>
     <div class="col-sm-4 col-10">
       <div class="text-center font-weight-bold mt-sm-4 mt-3">
         ${{finalPrice}}
       </div>
       <div id="payment-errors" class="{{#if noError}}hidden{{/if}} text-danger mt-sm-3 mt-3 secondFont text-center">{{messages}}</div>
       <form action="/checkout" method="post" id="payment-form">
        <div class="row">
          <div class="col-sm-12 mt-sm-3 mt-2">
            <input type="text" class="form-control form-control-sm border-top-0 border-right-0 rounded-0 border-dark secondFont text-dark" id="name" placeholder="name" name="name" value="{{userInfo.name}}" required>
          </div>
          <div class="col-sm-12 mt-sm-4 mt-4">
            <input type="text" class="form-control form-control-sm border-top-0 border-right-0 rounded-0 border-dark secondFont text-dark" id="email" placeholder="email" name="email" value="{{userInfo.email}}" required>
          </div>
          <div class="col-sm-12 mt-sm-4 mt-4">
            <input type="text" class="form-control form-control-sm border-top-0 border-right-0 rounded-0 border-dark secondFont text-dark" id="address" placeholder="address" name="address" required>
          </div>
          <div class="col-sm-12 mt-sm-4 mt-4">
            <div id="card-element">
              <!-- a Stripe Element will be inserted here. -->
            </div>
              <!-- Used to display form errors -->
            <div id="card-errors" role="alert" class="text-danger"></div>
          </div>
          <div class="col-sm-12 text-center mt-sm-4 mb-sm-5 mt-4">
            <input type="submit" class="submit btn btn-dark secondFont rounded-0" id="checkoutBtn" value="confirm purchase">
          </div>
        </div>
       </form>
     </div>
  </div>
</div>
<script src="javascripts/checkout.js"></script>