<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-12">
            <img src="/images/test/im6.jpg" alt="img" class="img-fluid">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <img src="/images/test/im1.jpg" alt="img" class="img-fluid">
            <div class="text-center testfont">hola</div>
            <div class="">adios</div>
        </div>
        <div class="col-6">
            <img src="/images/test/im2.jpg" alt="img" class="img-fluid">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3">
            <img src="/images/test/im3.jpg" alt="img" class="img-fluid">
        </div>
        <div class="col-3">
            <img src="/images/test/im4.jpg" alt="img" class="img-fluid">
        </div>
        <div class="col-3">
            <img src="/images/test/im5.jpg" alt="img" class="img-fluid">
        </div>
        <div class="col-3">
            <img src="/images/test/im2.jpg" alt="img" class="img-fluid">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <img src="/images/test/im7.jpg" alt="img" class="img-fluid">
        </div>
        <div class="col-6">
            <img src="/images/test/im8.jpg" alt="img" class="img-fluid">
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-6">
            <img src="/images/test/im9.jpg" alt="img" class="img-fluid">
        </div>
        <div class="col-6">
            <img src="/images/test/im10.jpg" alt="img" class="img-fluid">
        </div>
    </div>
</div>

