<div class="container-fluid secondFont">
    <div class="sticky-top pt-sm-5 pt-5 mb-5 pb-sm-3 pb-3 bg-white secondsticky">
        <div class="row mt-sm-3">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1 col-6 text-center pt-2"><a href="#trabajo" class="text-dark" id="ocnav">TRABAJO</a></div>
            <div class="col-sm-1 col-6 text-center pt-2"><a href="#casual" class="text-dark" id="ocnav">CASUAL</a></div>
            <div class="col-sm-1 col-6 text-center pt-2"><a href="#deantro" class="text-dark" id="ocnav">DE ANTRO</a></div>
            <div class="col-sm-2 col-6 text-center pt-2"><a href="#formales" class="text-dark" id="ocnav">EVENTOS FORMALES</a></div>
            <div class="col-sm-1 col-6 text-center pt-2"><a href="#primavera" class="text-dark" id="ocnav">PRIMAVERA</a></div>
            <div class="col-sm-1 col-6 text-center pt-2"><a href="#vacaciones" class="text-dark" id="ocnav">VACACIONES</a></div>
        </div>
    </div>

    <div id="trabajo" class="row mt-sm-5 mb-sm-5 section">
        <div class="col-sm-5 text-center">
            <img src="/images/ocasiones/1_Trabajo/Modelo1.jpg" class="img-fluid" alt="modelo">
        </div>
        <div class="col-sm-7">
            <div class="row mt-3">
                <div class="col-4">
                    <img src="/images/ocasiones/1_Trabajo/p1.png" class="img-fluid mt-sm-3" alt="modelo">
                </div>
                <div class="col-4">
                    <img src="/images/ocasiones/1_Trabajo/p2.png" class="img-fluid mt-sm-3" alt="modelo">
                </div>
                <div class="col-4">
                    <img src="/images/ocasiones/1_Trabajo/p3.png" class="img-fluid mt-sm-3" alt="modelo">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-5 col-3"></div>
                <div class="col-sm-2 col-6 text-center btn btn-dark secondFont rounded-0">TRABAJO</div>
                <div class="col-12 mt-sm-3 mt-2 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </div>
                <div class="col-12 mt-sm-3 mt-2 text-center"> <a href="" class="text-dark"><u>EXPLORAR &#10142;</u></a></div>
            </div>
        </div>
    </div>
    
    <div id="casual" class="row mt-sm-5 pt-sm-5 mt-5 section">
        <div class="col-sm-5 text-center">
            <img src="/images/ocasiones/2_Casual/Modelo2.jpg" class="img-fluid" alt="modelo">
        </div>
        <div class="col-sm-7">
            <div class="row mt-3">
                <div class="col-4">
                    <img src="/images/ocasiones/2_Casual/p1.jpg" class="img-fluid mt-sm-3" alt="modelo">
                </div>
                <div class="col-4">
                    <img src="/images/ocasiones/2_Casual/p2.png" class="img-fluid mt-sm-3" alt="modelo">
                </div>
                <div class="col-4">
                    <img src="/images/ocasiones/2_Casual/p3.png" class="img-fluid mt-sm-3" alt="modelo">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-5 col-3"></div>
                <div class="col-sm-2 col-6 text-center btn btn-dark secondFont rounded-0">Casual</div>
                <div class="col-12 mt-sm-3 mt-2 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </div>
                <div class="col-12 mt-sm-3 mt-2 text-center"> <a href="" class="text-dark"><u>EXPLORAR &#10142;</u></a></div>
            </div>
        </div>
    </div> 

    <div id="deantro" class="row mt-sm-5 pt-sm-5 mt-5 section">
        <div class="col-sm-5 text-center">
            <img src="/images/ocasiones/3_DeAntro/Modelo3.jpg" class="img-fluid" alt="modelo">
        </div>
        <div class="col-sm-7">
            <div class="row mt-3">
                <div class="col-4">
                    <img src="/images/ocasiones/3_DeAntro/P1.png" class="img-fluid mt-sm-3" alt="modelo">
                </div>
                <div class="col-4">
                    <img src="/images/ocasiones/3_DeAntro/p2.png" class="img-fluid mt-sm-3" alt="modelo">
                </div>
                <div class="col-4">
                    <img src="/images/ocasiones/3_DeAntro/p3.png" class="img-fluid mt-sm-3" alt="modelo">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-5 col-3"></div>
                <div class="col-sm-2 col-6 text-center btn btn-dark secondFont rounded-0">De Antro</div>
                <div class="col-12 mt-sm-3 mt-2 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </div>
                <div class="col-12 mt-sm-3 mt-2 text-center"> <a href="" class="text-dark"><u>EXPLORAR &#10142;</u></a></div>
            </div>
        </div>
    </div>  



</div>


<script>
    (function() {
  'use strict';

  var section = document.querySelectorAll(".section");
  var sections = {};
  var i = 0;

  Array.prototype.forEach.call(section, function(e) {
    sections[e.id] = e.offsetTop;
  });

  window.onscroll = function() {
    var scrollPosition = document.documentElement.scrollTop || document.body.scrollTop;

    for (i in sections) {
      if (sections[i] <= scrollPosition) {
        document.querySelector('.active').setAttribute('class', ' ');
        document.querySelector('a[href*=' + i + ']').setAttribute('class', 'active');
      }
    }
  };
})();

</script>