<div class="container secondFont">
    <div class="row">
        <div class="col-6 col-sm-4 text-center mt-sm-5 mt-3"><img src="/images/ocasionesIcons/trabajo.svg" class="img-fluid ocasionIcon" alt="icon"></div>
        <div class="col-6 col-sm-4 text-center mt-sm-5 mt-3"><img src="/images/ocasionesIcons/casual.svg" class="img-fluid ocasionIcon" alt="icon"></div>
        <div class="col-6 col-sm-4 text-center mt-sm-5 mt-3"><img src="/images/ocasionesIcons/antro.svg" class="img-fluid ocasionIcon" alt="icon"></div>
        <div class="col-6 col-sm-4 text-center mt-sm-5 mt-3"><img src="/images/ocasionesIcons/formales.svg" class="img-fluid ocasionIcon" alt="icon"></div>
        <div class="col-6 col-sm-4 text-center mt-sm-5 mt-3"><img src="/images/ocasionesIcons/primavera.svg" class="img-fluid ocasionIcon" alt="icon"></div>
        <div class="col-6 col-sm-4 text-center mt-sm-5 mt-3"><img src="/images/ocasionesIcons/vacaciones.svg" class="img-fluid ocasionIcon" alt="icon"></div>
    </div>
</div>